@import '../../styles/variables.scss';
$material-icons-font-path: '~material-icons/iconfont/';
@import 'material-icons/iconfont/material-icons.scss';

:host /deep/ ng2-smart-table {
  @extend %ng2-smart-table;
}

.dropdown-inline {
  min-width: 100%;
}

.table-scroll {
    display: block;
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}