@import '../../styles/variables.scss';

div.middle-box {
  @extend %middle-box;
}

.login-background-image {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  position: fixed;
  background-image: linear-gradient(180deg,#f58220,#ae5509);
  color: white;
}