$material-icons-font-path: '~material-icons/iconfont/';
@import 'material-icons/iconfont/material-icons.scss';
@import '../../styles/variables.scss';

@font-face {
  @include font-face("../../");
}

nav {
  background: #2D2E2E;
  height: 100%;
  color: #fff;
  padding: 10px;
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

ul.nav-ui{
  li:not(.popover-li) {
      margin: 15px 0px 15px 0px;
      a:not(.popover-a) {
          text-decoration: none;
          color: #fff;
          padding: 10px;
          display: block;
      }

      .activated {
          background-color: #00a8ff;
      }

      .profile-photo {
        width: 90px;
        border-radius: 50%;
        margin: auto;
      }

      .logo {
        width: 40px;
      }

      img {
        margin: auto;
      }

      i {
        cursor: pointer;
      }
  }
}

ul.popover-ui {
  font-family: 'Century Gothic';
  color: #2D2E2E;
  li.popover-li {
    cursor: pointer;
    margin: 10px 0 10px 0;
    a.popover-a {
      text-decoration: none;
      color: #2D2E2E;
    }
  }
}