<ng-template #popContent>
  <ul class="popover-ui">
    <li class="popover-li">
      <a class="popover-a" [routerLink] = "['/changePassword']">
        Trocar senha
      </a>
    </li>
    <li class="popover-li" (click)="triggerFileSelect()">
      Trocar Foto
    </li>
  </ul>
</ng-template>

<nav>
  <input #profilePictureSelect class="d-none" accept="image/*" type="file" name="photo" ng2FileSelect [uploader]="uploader" />
  <ul class="nav-ui">
    <li>
      <a [routerLink] = "['/']" class="text-center">
        <img src="assets/images/logo-itau.png" class="logo row"/>
        Epicall Backoffice
      </a>
    </li>
    <li class="text-center">
      <img [src]="profilePhoto" (click)="popoverOpen = true" class="profile-photo row"/>
      <div class="w-100 text-center">{{username}}</div>
      <i class="material-icons" placement="right" [ngbPopover]="popContent">settings</i>
    </li>
    <li>
      <a [routerLink] = "['/user/list']">
        Usuários <i class="material-icons float-right" placement="right"> person </i>
      </a>
    </li>
    <li>
      <a [routerLink] = "['/record/list']">
        Gravações <i class="material-icons float-right" placement="right"> record_voice_over </i>
      </a>
    </li>
    <li>
      <a [routerLink] = "['/report/list']">
        Relatórios <i class="material-icons float-right" placement="right"> list </i>
      </a>
    </li>
    <li>
      <a [routerLink] = "['/login']">
        Logout <i class="material-icons float-right" placement="right"> exit_to_app </i>
      </a>
    </li>
  </ul>
</nav>