<div class="table-header text-center">
  <h2> Mensagens </h2>
  <input #search class="row w-50 mt-2 mb-2 ml-auto mr-auto form-control" type="text" placeholder="Pesquisar..." (keydown.enter)="onSearch(search.value)">
</div>

<div *ngIf="loading" class="row mt-4">
  <img class="m-auto" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
</div>

<div class="p-3 row message-content">
  <div class="treeView col-{{messagesFiltered ? '4' : '0'}} p-0">
    <mat-accordion *ngFor="let from of messagesFiltered | keys" >
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{from}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="treeViewSubItems">
          <li *ngFor="let to of messagesFiltered[from] | keys" (click)="selectConversation(from, to)">
            {{to}}
          </li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  
  <div class="conversations p-3 col-{{messagesFiltered ? '8' : '12'}} text-center">
    <i *ngIf="!messagesDisplayed" class="material-icons message-ghost" placement="center"> message </i>
    <div *ngIf="!messages" class=""> Nenhuma mensagem encontrada. </div>
    <div class="row" *ngFor="let message of messagesDisplayed">
      <div *ngIf="message.from === from" class="talk-bubble tri-left round">
        <div class="talktext">
          <p>{{message.message}}</p>
        </div>
        <div class="message-details">
          {{message.date | date: 'dd/MM/yyyy HH:mm:ss'}}
          <svg *ngIf="message.read" width="16" height="15" x="2063" y="2076">
            <path d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z" fill="#4fc3f7">
            </path>
          </svg>
        </div>
      </div>
      <div *ngIf="message.from === to" class="talk-bubble tri-right round">
        <div class="talktext">
          <p>{{message.message}}</p>
        </div>
        <div class="message-details">
          {{message.date | date: 'dd/MM/yyyy HH:mm:ss'}}
          <svg *ngIf="message.read" width="16" height="15" x="2063" y="2076">
            <path d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z" fill="#4fc3f7">
            </path>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
