<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Adicionar Usuário</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismissModal('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="modal-body row">
        <div class="form-group col-md-6">
            <label for="name">Nome</label>
            <input (input)="submitted=false" type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Nome é obrigatório</div>
                <div *ngIf="f.name.errors.maxLength">Nome muito extenso</div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="racf">RACF</label>
            <input (input)="submitted=false" type="text" formControlName="racf" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.racf.errors }" />
            <div *ngIf="submitted && f.racf.errors" class="invalid-feedback">
                <div *ngIf="f.racf.errors.required">RACF é obrigatório</div>
                <div *ngIf="f.racf.errors.maxLength">RACF muito extenso</div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="ext">Ramal</label>
            <input (input)="submitted=false" type="text" maxlength="10" formControlName="extension" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.extension.errors }" />
            <div *ngIf="submitted && f.extension.errors" class="invalid-feedback">
                <div *ngIf="f.extension.errors.required">Ramal é obrigatório</div>
                <div *ngIf="f.extension.errors.max">Ramal muito extenso</div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input (input)="submitted=false" type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email é obrigatório</div>
                <div *ngIf="f.email.errors.email">Email inválido</div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="section">Seção</label>
            <input (input)="submitted=false" type="text" formControlName="department" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.department.errors }" />
            <div *ngIf="submitted && f.department.errors" class="invalid-feedback">
                <div *ngIf="f.department.errors.required">Seção é obrigatório</div>
                <div *ngIf="f.department.errors.maxLength">Seção muito extensa</div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="perfil">Perfil</label>
            <select id="country" formControlName="perfil" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.perfil.errors }">
                <option *ngFor="let perfil of perfils" [ngValue]="perfil">{{ perfil }}</option>
            </select>
            <div *ngIf="submitted && f.perfil.errors" class="invalid-feedback">
                <div *ngIf="f.perfil.errors.required">Perfil é obrigatório</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success"> {{hasUserToHandle() ? 'Salvar' : 'Enviar'}}</button>
      <button type="button"  *ngIf="hasUserToHandle()" (click)="removeUser($event);" class="btn btn-warning">Excluir</button>
      <button class="btn btn-danger" (click)="dismissModal('Operation cancelled')">Cancelar</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
  </form>